
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Dancing+Script&family=Roboto:ital,wght@1,300&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.Acceuil{
    min-height: 130vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("./../images/image1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    background: rgba(12,11,9,0.6);
    color: #fff;
    padding: 10px 150px;
}
.logo h1{
    text-transform: uppercase;
    color: #cda45e;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
   


}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    padding: 15px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size:15px;
    text-transform: uppercase;
    transition:0.4s ease ;
}
nav ul li a:hover{
    color: #cda45e;

}
.bannière{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    margin-top: -50px;
}
.bannière h2{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 10px;
    border:2px solid #cda45e;
    padding: 30px;
    font-size: 30px;
}
.bannière h2 span{
    color: #cda45e;
   
}
.bannière h3{
    color:#fff;
    padding: 20px;
    font-weight: 500;
    font-size: 35px;
    font-family: 'Dancing Script', cursive;
}
.special{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.special h1{
background-color: #cda45e;
color: #292929;
padding:20px ;
font-size: 20px;
word-spacing: 15px;
position: absolute;
left: 40%;
top:70%;
align-items: center;
justify-content: center;
}
.special .boite{
    height:220px;
    width: 160px;
    background:rgba(0,0,0,0.6);
    margin: top -500px; 
    border-top-right-radius: 100px ;
    border-top-left-radius: 100px;
    border:2px solid #cda45e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.boite img{
    height: 100px;
    width: 100px;
    border-radius:50% ;
    object-fit: cover;
    border: 5px solid #cda45e;
}
.boite h2{
    color: #cda45e;
    font-size: 15px;
    font-weight: 800;
    padding: 10px;
    text-transform:capitalize ;
}
.boite h3{
    color: #fff;
    font-size: 18px;
    font-weight: 900;
    padding: 5px;
}